@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,900&display=swap');
body {
    background-color: #ede0d4;
}
h1,h2{
    text-align: center;
    font-size: 40px;
    font-style: italic;
    text-shadow: 5px 5px 5px #9d0208;
    font-weight: 900;
    line-height: 50x;
    color: #6a040f;
    font-family: 'Lato', sans-serif;
    /* text-transform: uppercase ou capitalize ou lowercase; */
    /* text-decoration: underline ou overnine on line-through; */
}

h2{
    font-size: 30px;
}

p{
 /*fonte padrao 16px  */
    font-size: 16px;
    color: #9d0208;
    font-family: 'Lato', sans-serif;
    }

.cor-cinza {background-color: #e8e8e4;}
.cor-verde {background-color: #d8e2dc;}
.cor-laranja {background-color: #ffe5d9;}